[mysqld]
character-set-server=utf8 # mysqlサーバー側が使用する文字コード
skip-character-set-client-handshake # 文字化け対策

[mysqldump]
default-character-set=utf8

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8 # mysqlのクライアント側が使用する文字コード